.seccion{
    height: 100vh;
}

.tarjeta {
    border-color: black;
}

.img-fluid{
    height: 100%;
}

h1{
    text-align: center;

}

.ranking{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 
}

.tarjeta{
    gap:10px
}

/*juga*/


.tarjetas{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}